<h1 id="谢佳宇的个人主页"><a href="#谢佳宇的个人主页" class="headerlink" title="谢佳宇的个人主页"></a>谢佳宇的个人主页</h1><h3 id="本文可用所有链接如下"><a href="#本文可用所有链接如下" class="headerlink" title="本文可用所有链接如下:"></a>本文可用所有链接如下:</h3><ul>
<li><a href="https://xiejiayu.tk/">https://xiejiayu.tk</a></li>
<li><a href="https://www.xiejiayu.tk/">https://www.xiejiayu.tk</a></li>
<li><a href="https://xiejiayu.vercel.app/">https://xiejiayu.vercel.app</a><h3 id="目前，本网页由自创模板构建改为由hexo引擎强势驱动，添加了live2d和鼠标点击样式，目前还有少数Bug未修复，我会继续努力完成的。"><a href="#目前，本网页由自创模板构建改为由hexo引擎强势驱动，添加了live2d和鼠标点击样式，目前还有少数Bug未修复，我会继续努力完成的。" class="headerlink" title="目前，本网页由自创模板构建改为由hexo引擎强势驱动，添加了live2d和鼠标点击样式，目前还有少数Bug未修复，我会继续努力完成的。"></a>目前，本网页由自创模板构建改为由hexo引擎强势驱动，添加了live2d和鼠标点击样式，目前还有少数Bug未修复，我会继续努力完成的。</h3>这是我开发的一个小游戏，为xiejiayu.tk的二级域名，<a href="https://game.xiejiayu.tk/">链接在此</a></li>
</ul>
